
# OS files
.DS_Store
thumbs.db

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*~

# Various IDEs
.project
.idea/
*.tmproj
.vscode/
.env/
*.tgz
